.more {
    position: absolute;
    cursor: pointer;
    left: 100%;
    width: 2%;
    margin-top: 125px
}
.less {
    position: absolute;
    cursor: pointer;
    width: 2%;
    right: 101%;
    margin-top: 120px
}