* {
  margin: 0;
  padding: 0;
  outline: none;
}
@font-face {
  font-family: Roboto-Regular, sans-serif;
  src: url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: Roboto-Regular, sans-serif;
  src: url('../fonts/Roboto-Medium.woff') format('woff');
}

.hotel {
  background-color: #eaf0f9;
  height: max-content;
}

