.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 104px;
}
.places {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}
.places_items {
  display: flex;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0 18px;
  }
  .places_items {
    padding-left: 8px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    padding-left: 20px;
  }
}
